<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Owner Details</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include ("partials/nav") %>

  <div class="container-details">
    <h1><%= owner.name %> Details</h1>
    <div class="owner-info">
      <p><strong>Name:</strong> <%= owner.name %></p>
      <p><strong>Email:</strong> <%= owner.email %></p>
      <p><strong>Phone:</strong> <%= owner.phone %></p>
      <p><strong>Address:</strong> <%= owner.address %></p>
    </div>
    
      <div class="owner-info">
      <p><strong><%= owner.name %>'s Cat:</strong> 
        <% if (ownerCats.length > 0) { %>
        
          <% ownerCats.forEach(cat => { %>
            <a href="/cat/<%= cat.id %>"><%= cat.name %></a>
          <% }); %>
        <% } %></p>
     
    </div>
  </div>
</body>
</html>
